h1 {
	font-family:helvetica;
	font-size: 40px;
	line-height:1.4;
	font-weight: bold;
  background-color: black; 
  width: 400px;
  padding: 50px;
  border: 1px solid black;
  margin: 10px;
		}
